EXPO_PUBLIC_APP_ENV=production
EXPO_PUBLIC_API_BASE_URL=https://api.yeyamo.com
EXPO_PUBLIC_MESSAGING_WS_URL=wss://api.yeyamo.com/ws/messaging
EXPO_PUBLIC_GOOGLE_MAPS_ANDROID_API_KEY=
EXPO_PUBLIC_GOOGLE_MAPS_IOS_API_KEY=
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
EXPO_PUBLIC_TURNSTILE_ENABLED=false
EXPO_PUBLIC_TURNSTILE_SITE_KEY=
